@import 'tailwindcss';

@plugin "@tailwindcss/forms";

@source "../../lib/telemetry_ui/web/**/*.ex";
@source "../../lib/telemetry_ui/web/**/*.html.heex";
@source "./js/**/*.ts";

@source inline("{sm:,lg:,}gap-{0..96}");
@source inline("{sm:,lg:,}inline");
@source inline("{sm:,lg:,}block");
@source inline("{sm:,lg:,}shadow{,-xs,-sm,-md,-lg,-xl,-2xl}");
@source inline("{sm:,lg:,}grid-cols-{1..12}");
@source inline("{sm:,lg:,}{col,row}-{start,end}-{1..12}");
@source inline("{sm:,lg:,}{col,row}-span-{1..12}");
@source inline("{sm:,lg:,}{col,row}-auto");

@variant dark (.dark &);

.dropdown .dropdown-menu {
  z-index: 1005;
}

.dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  background: transparent;
  width: 160px;
  height: 35px;
  top: -30px;
  right: 0;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.vega-lite-metric::before {
  content: '';
  height: 60px;
  width: 70px;
  position: absolute;
  right: -70px;
  top: 0;
  background: transparent;
}

html.dark .vega-lite-metric .vega-embed.has-actions .vega-actions,
html.dark .vega-lite-metric .vega-embed.has-actions summary {
  filter: invert(1);
}

.vega-lite-metric .vega-embed.has-actions {
  padding: 0 !important;
}

.vega-lite-metric .vega-embed.has-actions details {
  position: absolute;
  right: -38px;
  top: -9px;
  transform: scale(0.8);
  display: none;
  z-index: 1001;
}

.vega-lite-metric .vega-embed.has-actions summary {
  box-shadow: none;
  opacity: 1;
  border-color: transparent;
  background: transparent;
}

.vega-lite-metric:hover .vega-embed.has-actions details {
  display: block;
}

.vega-lite-metric .vega-embed.has-actions .vega-actions {
  box-shadow: none;
}

.vega-lite-metric .vega-embed.has-actions .vega-actions a {
  font-weight: normal;
  font-family: inherit;
  color: #000;
  padding: 6px 12px;
}

html.dark .vega-lite-metric svg text[aria-label='main-title'] {
  fill: #d7d7d7 !important;
}

.vega-lite-metric .vega-embed path[opacity='0'][role='graphics-symbol'],
.vega-lite-metric .vega-embed path[opacity='0.2'][role='graphics-symbol'] {
  pointer-events: none;
}

#vg-tooltip-element {
  border-radius: 7px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 0;
  color: black;
}

.dark #vg-tooltip-element {
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.55);
  background-color: rgb(24, 24, 27);
  color: white;
}

header h1 > svg {
  height: 20px;
}

header select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.dark header select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23fafafa' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.animation-loading {
  animation: loading 1s linear infinite;
}

svg.marks {
  height: 100%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
