<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:title" content={@theme.title} />
  <meta property="og:description" content={@theme.description} />
  <meta property="og:type" content="website" />

  <title><%= @theme.title %></title>
  <style>
    <%= raw render("app.css") %>
  </style>
  <link rel="icon" href={favicon(@theme)} type="image/svg+xml" />
</head>

<body class="flex flex-col justify-between min-h-screen bg-neutral-50 dark:bg-neutral-900">
  <script type="text/javascript">
    (function () {
      try {
        var theme = localStorage.getItem('theme');
        var supportDarkMode =
          window.matchMedia('(prefers-color-scheme: dark)').matches === true;
        if (!theme) return;
        if (!theme && supportDarkMode) return document.querySelector('html').classList.add('dark');
        if (theme === 'dark') return document.querySelector('html').classList.add('dark');
      } catch (e) {}
    })();
  </script>

  <div>
    <%= if @shared do %>
      <header class="max-w-6xl mx-auto flex justify-between flex-col md:flex-row px-2 py-8 gap-4" style={theme_color_style(@theme)}>
        <h1 class="text-base font-light font-mono flex items-center gap-3 pe-none">
          <%= {:safe, @theme.logo} %>
          <%= @theme.title %>
          <span class="text-gray-400 dark:text-gray-600">| <%= @current_page.title %></span>
        </h1>

        <div class="flex items-center text-sm text-gray-400 gap-5">
          <div class="flex flex-col">
            <span class="text-xs text-gray-300 dark:text-gray-500">From:</span>
            <time telemetry-component="LocalTime" title={@filters.from}><%= filter_datetime_format(@filters.from) %></time>
          </div>

          <div class="flex flex-col">
            <span class="text-xs text-gray-300 dark:text-gray-500">To:</span>
            <time telemetry-component="LocalTime" title={@filters.to}><%= filter_datetime_format(@filters.to) %></time>
          </div>
        </div>
      </header>

      <div class="absolute top-2 right-2">
        <.theme_switch />
      </div>
    <% else %>
      <div class="bg-white dark:bg-black shadow-sm">
        <header class="max-w-6xl mx-auto flex justify-between p-2 mb-4 lg:pr-2 pr-[40px]" style={theme_color_style(@theme)}>
          <a class="flex items-center gap-3 text-base font-light font-mono" href={page_href(List.first(@pages).id, %{frame: nil})}>
            <%= {:safe, @theme.logo} %><%= @theme.title %>
          </a>

          <div telemetry-component="Form">
          <.form :let={f} for={@filter_form} method="get" class="flex align-items-center">
            <%= hidden_input(f, :page, value: @current_page.id) %>
            <%= select(f, :frame, frame_options(@filters.frame, @theme),
              class: "p-2 rounded-md bg-transparent border-black/10 dark:border-slate-50/10 text-black dark:text-slate-50 text-xs pr-8"
            ) %>

            <div class="right-3 absolute top-4 flex items-center gap-3">
              <%= if @share do %>
                <a href={"#{@theme.share_path}?share=#{@share}"} target="_blank">
                  <span class="dark:text-neutral-500 text-neutral-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
                      />
                    </svg>
                  </span>
                </a>
              <% end %>

              <.theme_switch />
            </div>
          </.form>
          </div>
        </header>
      </div>
    <% end %>

    <%= if not @shared and length(@pages) > 1 do %>
      <div class="max-w-6xl mx-auto flex flex-wrap gap-3 mb-4">
        <%= for page <- @pages do %>
          <%= if page.id === @current_page.id do %>
            <.page_link
              page={page}
              filters={@filters}
              style={theme_color_style(@theme)}
              class="px-4 py-1 shadow-sm bg-white dark:bg-black font-bold text-primary text-sm dark:text-gray-50"
            />
          <% else %>
            <.page_link page={page} filters={@filters} class="transition px-4 py-1 font-bold text-sm dark:text-gray-50 hover:opacity-50" />
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class={"max-w-6xl mx-auto grid #{@current_page.ui_options[:metrics_class] || ~s(grid-cols-1 md:grid-cols-3 gap-4)}"}>
      <%= for metric <- @current_page.metrics do %>
        <div class={metric.ui_options[:class] || "col-span-full"}>
          <.component_html metric={metric} filters={@filters} conn={@conn} theme={@theme} />
        </div>
      <% end %>
    </div>
  </div>

  <footer class="p-5 text-center opacity-25 text-xs dark:text-gray-300">
    Built with ♥ by the team @ <a href="https://www.mirego.com">Mirego</a>.
  </footer>

  <div class="fixed bottom-0 left-0 p-3 font-light font-mono text-xs text-gray-400 dark:text-gray-600"><%= version() %></div>

  <script type="text/javascript" integrity={app_js_integrity()}>
    <%= raw(render("app.js")) %>
  </script>
</body>
</html>
